.userListHeader {
  display: grid;
  width: 100%;
  grid-template-columns: 6fr 3fr 6fr 3fr 1fr;
  cursor: pointer;
  justify-items: flex-start;
  align-items: center;
  gap: 20px;
}

.userListHeader_item {
  font-family: Arial, serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-black);
  margin: 16px 0;
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
